In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
sub = pd.read_csv('sample_submission.csv')
structures = pd.read_csv('structures.csv')

In [3]:
train.head()

,id,molecule_name,atom_index_0,atom_index_1,type,scalar_coupling_constant
0,0,dsgdb9nsd_000001,1,0,1JHC,84.8076
1,1,dsgdb9nsd_000001,1,2,2JHH,-11.2570
2,2,dsgdb9nsd_000001,1,3,2JHH,-11.2548
3,3,dsgdb9nsd_000001,1,4,2JHH,-11.2543
4,4,dsgdb9nsd_000001,2,0,1JHC,84.8074

In [4]:
test.head()

        id     molecule_name  atom_index_0  atom_index_1  type
0  4658147  dsgdb9nsd_000004             2             0  2JHC
1  4658148  dsgdb9nsd_000004             2             1  1JHC
2  4658149  dsgdb9nsd_000004             2             3  3JHH
3  4658150  dsgdb9nsd_000004             3             0  1JHC
4  4658151  dsgdb9nsd_000004             3             1  2JHC

In [5]:
sub.head()

        id  scalar_coupling_constant
0  4658147                         0
1  4658148                         0
2  4658149                         0
3  4658150                         0
4  4658151                         0

In [6]:
structures.head()

      molecule_name  atom_index atom         x         y         z
0  dsgdb9nsd_000001           0    C -0.012698  1.085804  0.008001
1  dsgdb9nsd_000001           1    H  0.002150 -0.006031  0.001976
2  dsgdb9nsd_000001           2    H  1.011731  1.463751  0.000277
3  dsgdb9nsd_000001           3    H -0.540815  1.447527 -0.876644
4  dsgdb9nsd_000001           4    H -0.523814  1.437933  0.906397

In [7]:
print(f'There are {train.shape[0]} rows in train data.')
print(f"There are {train['molecule_name'].nunique()} distinct molecules in train data.")
print(f"There are {train['type'].nunique()} unique types.")
print(f'There are {test.shape[0]} rows in test data.')
print(f"There are {test['molecule_name'].nunique()} distinct molecules in test data.")
print(f"There are {test['type'].nunique()} unique types.")
print(f'There are {structures.shape[0]} rows in train data.')
print(f"There are {structures['atom'].nunique()} unique atoms.")

There are 4658147 rows in train data.
There are 85003 distinct molecules in train data.
There are 8 unique types.
There are 2505542 rows in test data.
There are 45772 distinct molecules in test data.
There are 8 unique types.
There are 2358657 rows in train data.
There are 5 unique atoms.

In [8]:
magnetic_shield= pd.read_csv('magnetic_shielding_tensors.csv')
magnetic_shield.head()

,molecule_name,atom_index,XX,YX,ZX,XY,YY,ZY,XZ,YZ,ZZ
0,dsgdb9nsd_000001,0,195.3150,0.0000,-0.0001,0.0000,195.3170,0.0007,-0.0001,0.0007,195.3170
1,dsgdb9nsd_000001,1,31.3410,-1.2317,4.0544,-1.2317,28.9546,-1.7173,4.0546,-1.7173,34.0861
2,dsgdb9nsd_000001,2,31.5814,1.2173,-4.1474,1.2173,28.9036,-1.6036,-4.1476,-1.6036,33.8967
3,dsgdb9nsd_000001,3,31.5172,4.1086,1.2723,4.1088,33.9068,1.6950,1.2724,1.6951,28.9579
4,dsgdb9nsd_000001,4,31.4029,-4.0942,-1.1793,-4.0944,34.0776,1.6259,-1.1795,1.6260,28.9013

In [9]:
dipole_moments= pd.read_csv('dipole_moments.csv')
dipole_moments.head()

      molecule_name       X    Y       Z
0  dsgdb9nsd_000001  0.0000  0.0  0.0000
1  dsgdb9nsd_000002 -0.0002  0.0  1.6256
2  dsgdb9nsd_000003  0.0000  0.0 -1.8511
3  dsgdb9nsd_000005  0.0000  0.0 -2.8937
4  dsgdb9nsd_000007  0.0000  0.0  0.0000

In [10]:
potential_energy= pd.read_csv('potential_energy.csv')
potential_energy.head()

      molecule_name  potential_energy
0  dsgdb9nsd_000001         -40.52368
1  dsgdb9nsd_000002         -56.56025
2  dsgdb9nsd_000003         -76.42608
3  dsgdb9nsd_000005         -93.42849
4  dsgdb9nsd_000007         -79.83869

In [11]:
scalar_coupling= pd.read_csv('scalar_coupling_contributions.csv')
scalar_coupling.head()

,molecule_name,atom_index_0,atom_index_1,type,fc,sd,pso,dso
0,dsgdb9nsd_000001,1,0,1JHC,83.0224,0.254579,1.25862,0.272010
1,dsgdb9nsd_000001,1,2,2JHH,-11.0347,0.352978,2.85839,-3.433600
2,dsgdb9nsd_000001,1,3,2JHH,-11.0325,0.352944,2.85852,-3.433870
3,dsgdb9nsd_000001,1,4,2JHH,-11.0319,0.352934,2.85855,-3.433930
4,dsgdb9nsd_000001,2,0,1JHC,83.0222,0.254585,1.25861,0.272013

In [12]:
mulliken_charges=pd.read_csv('mulliken_charges.csv')
mulliken_charges.head()

      molecule_name  atom_index  mulliken_charge
0  dsgdb9nsd_000001           0        -0.535689
1  dsgdb9nsd_000001           1         0.133921
2  dsgdb9nsd_000001           2         0.133922
3  dsgdb9nsd_000001           3         0.133923
4  dsgdb9nsd_000001           4         0.133923

Joining of table from Kaggle

In [14]:
from IPython.display import display

data_path = '../Molecular_Properties'

In [15]:
!ls -lSh $data_path/*.csv

-rwxr-xr-x@ 1 Iftekher  staff   280M May 29 16:33 ../Molecular_Properties/scalar_coupling_contributions.csv
-rwxr-xr-x@ 1 Iftekher  staff   192M May 29 16:33 ../Molecular_Properties/train.csv
-rwxr-xr-x@ 1 Iftekher  staff   135M May 29 16:32 ../Molecular_Properties/structures.csv
-rwxr-xr-x@ 1 Iftekher  staff   130M May 29 16:33 ../Molecular_Properties/magnetic_shielding_tensors.csv
-rwxr-xr-x@ 1 Iftekher  staff    84M May 29 16:33 ../Molecular_Properties/test.csv
-rwxr-xr-x@ 1 Iftekher  staff    42M May 29 16:32 ../Molecular_Properties/mulliken_charges.csv
-rwxr-xr-x@ 1 Iftekher  staff    24M May 29 16:33 ../Molecular_Properties/sample_submission.csv
-rwxr-xr-x@ 1 Iftekher  staff   3.1M May 29 16:34 ../Molecular_Properties/dipole_moments.csv
-rwxr-xr-x@ 1 Iftekher  staff   2.2M May 29 16:33 ../Molecular_Properties/potential_energy.csv

In [16]:
files_names = !ls $data_path/*.csv
files_names

['../Molecular_Properties/dipole_moments.csv',
 '../Molecular_Properties/magnetic_shielding_tensors.csv',
 '../Molecular_Properties/mulliken_charges.csv',
 '../Molecular_Properties/potential_energy.csv',
 '../Molecular_Properties/sample_submission.csv',
 '../Molecular_Properties/scalar_coupling_contributions.csv',
 '../Molecular_Properties/structures.csv',
 '../Molecular_Properties/test.csv',
 '../Molecular_Properties/train.csv']

In [17]:
data_dict = {}

for name in files_names:
    data_dict[name.split('/')[-1][:-4]] = pd.read_csv(name)

In [18]:
for k in data_dict.keys():
    display(k)
    display(data_dict[k].head())

'dipole_moments'

      molecule_name       X    Y       Z
0  dsgdb9nsd_000001  0.0000  0.0  0.0000
1  dsgdb9nsd_000002 -0.0002  0.0  1.6256
2  dsgdb9nsd_000003  0.0000  0.0 -1.8511
3  dsgdb9nsd_000005  0.0000  0.0 -2.8937
4  dsgdb9nsd_000007  0.0000  0.0  0.0000

'magnetic_shielding_tensors'

,molecule_name,atom_index,XX,YX,ZX,XY,YY,ZY,XZ,YZ,ZZ
0,dsgdb9nsd_000001,0,195.3150,0.0000,-0.0001,0.0000,195.3170,0.0007,-0.0001,0.0007,195.3170
1,dsgdb9nsd_000001,1,31.3410,-1.2317,4.0544,-1.2317,28.9546,-1.7173,4.0546,-1.7173,34.0861
2,dsgdb9nsd_000001,2,31.5814,1.2173,-4.1474,1.2173,28.9036,-1.6036,-4.1476,-1.6036,33.8967
3,dsgdb9nsd_000001,3,31.5172,4.1086,1.2723,4.1088,33.9068,1.6950,1.2724,1.6951,28.9579
4,dsgdb9nsd_000001,4,31.4029,-4.0942,-1.1793,-4.0944,34.0776,1.6259,-1.1795,1.6260,28.9013

'mulliken_charges'

      molecule_name  atom_index  mulliken_charge
0  dsgdb9nsd_000001           0        -0.535689
1  dsgdb9nsd_000001           1         0.133921
2  dsgdb9nsd_000001           2         0.133922
3  dsgdb9nsd_000001           3         0.133923
4  dsgdb9nsd_000001           4         0.133923

'potential_energy'

      molecule_name  potential_energy
0  dsgdb9nsd_000001         -40.52368
1  dsgdb9nsd_000002         -56.56025
2  dsgdb9nsd_000003         -76.42608
3  dsgdb9nsd_000005         -93.42849
4  dsgdb9nsd_000007         -79.83869

'sample_submission'

        id  scalar_coupling_constant
0  4658147                         0
1  4658148                         0
2  4658149                         0
3  4658150                         0
4  4658151                         0

'scalar_coupling_contributions'

,molecule_name,atom_index_0,atom_index_1,type,fc,sd,pso,dso
0,dsgdb9nsd_000001,1,0,1JHC,83.0224,0.254579,1.25862,0.272010
1,dsgdb9nsd_000001,1,2,2JHH,-11.0347,0.352978,2.85839,-3.433600
2,dsgdb9nsd_000001,1,3,2JHH,-11.0325,0.352944,2.85852,-3.433870
3,dsgdb9nsd_000001,1,4,2JHH,-11.0319,0.352934,2.85855,-3.433930
4,dsgdb9nsd_000001,2,0,1JHC,83.0222,0.254585,1.25861,0.272013

'structures'

      molecule_name  atom_index atom         x         y         z
0  dsgdb9nsd_000001           0    C -0.012698  1.085804  0.008001
1  dsgdb9nsd_000001           1    H  0.002150 -0.006031  0.001976
2  dsgdb9nsd_000001           2    H  1.011731  1.463751  0.000277
3  dsgdb9nsd_000001           3    H -0.540815  1.447527 -0.876644
4  dsgdb9nsd_000001           4    H -0.523814  1.437933  0.906397

'test'

        id     molecule_name  atom_index_0  atom_index_1  type
0  4658147  dsgdb9nsd_000004             2             0  2JHC
1  4658148  dsgdb9nsd_000004             2             1  1JHC
2  4658149  dsgdb9nsd_000004             2             3  3JHH
3  4658150  dsgdb9nsd_000004             3             0  1JHC
4  4658151  dsgdb9nsd_000004             3             1  2JHC

'train'

,id,molecule_name,atom_index_0,atom_index_1,type,scalar_coupling_constant
0,0,dsgdb9nsd_000001,1,0,1JHC,84.8076
1,1,dsgdb9nsd_000001,1,2,2JHH,-11.2570
2,2,dsgdb9nsd_000001,1,3,2JHH,-11.2548
3,3,dsgdb9nsd_000001,1,4,2JHH,-11.2543
4,4,dsgdb9nsd_000001,2,0,1JHC,84.8074

In [19]:
df_complete = data_dict['train'].copy()
df_complete = df_complete.join(data_dict['potential_energy'].set_index('molecule_name'), on='molecule_name')
df_complete = df_complete.join(data_dict['dipole_moments'].set_index('molecule_name'), on='molecule_name', lsuffix='dipole_moments_')
df_complete = df_complete.join(data_dict['magnetic_shielding_tensors'].set_index(['molecule_name', 'atom_index']), on=['molecule_name', 'atom_index_0'], lsuffix='_atom0')
df_complete = df_complete.join(data_dict['magnetic_shielding_tensors'].set_index(['molecule_name', 'atom_index']), on=['molecule_name', 'atom_index_1'], lsuffix='_atom1')
df_complete = df_complete.join(data_dict['mulliken_charges'].set_index(['molecule_name', 'atom_index']), on=['molecule_name', 'atom_index_0'], lsuffix='_atom0')
df_complete = df_complete.join(data_dict['mulliken_charges'].set_index(['molecule_name', 'atom_index']), on=['molecule_name', 'atom_index_1'], lsuffix='_atom1')
df_complete = df_complete.join(data_dict['scalar_coupling_contributions'].set_index(['molecule_name', 'atom_index_0', 'atom_index_1']), on=['molecule_name', 'atom_index_0', 'atom_index_1'], rsuffix='_scc')
df_complete = df_complete.join(data_dict['structures'].set_index(['molecule_name', 'atom_index']), on=['molecule_name', 'atom_index_0'], lsuffix='_atom0_structure')
df_complete = df_complete.join(data_dict['structures'].set_index(['molecule_name', 'atom_index']), on=['molecule_name', 'atom_index_1'], lsuffix='_atom1_structure')

back to me

In [20]:
df= df_complete
df.head()

,id,molecule_name,atom_index_0,atom_index_1,type,scalar_coupling_constant,potential_energy,X,Y,Z,...,pso,dso,atom_atom1_structure,x_atom1_structure,y_atom1_structure,z_atom1_structure,atom,x,y,z
0,0,dsgdb9nsd_000001,1,0,1JHC,84.8076,-40.52368,0.0,0.0,0.0,...,1.25862,0.272010,H,0.002150,-0.006031,0.001976,C,-0.012698,1.085804,0.008001
1,1,dsgdb9nsd_000001,1,2,2JHH,-11.2570,-40.52368,0.0,0.0,0.0,...,2.85839,-3.433600,H,0.002150,-0.006031,0.001976,H,1.011731,1.463751,0.000277
2,2,dsgdb9nsd_000001,1,3,2JHH,-11.2548,-40.52368,0.0,0.0,0.0,...,2.85852,-3.433870,H,0.002150,-0.006031,0.001976,H,-0.540815,1.447527,-0.876644
3,3,dsgdb9nsd_000001,1,4,2JHH,-11.2543,-40.52368,0.0,0.0,0.0,...,2.85855,-3.433930,H,0.002150,-0.006031,0.001976,H,-0.523814,1.437933,0.906397
4,4,dsgdb9nsd_000001,2,0,1JHC,84.8074,-40.52368,0.0,0.0,0.0,...,1.25861,0.272013,H,1.011731,1.463751,0.000277,C,-0.012698,1.085804,0.008001

In [21]:
df.describe()

,id,atom_index_0,atom_index_1,scalar_coupling_constant,potential_energy,X,Y,Z,XX_atom1,YX_atom1,...,fc,sd,pso,dso,x_atom1_structure,y_atom1_structure,z_atom1_structure,x,y,z
count,4.658147e+06,4.658147e+06,4.658147e+06,4.658147e+06,4.658147e+06,4.658147e+06,4.658147e+06,4.658147e+06,4.658147e+06,4.658147e+06,...,4.658147e+06,4.658147e+06,4.658147e+06,4.658147e+06,4.658147e+06,4.658147e+06,4.658147e+06,4.658147e+06,4.658147e+06,4.658147e+06
mean,2.329073e+06,1.335689e+01,5.883966e+00,1.592165e+01,-4.042052e+02,-1.881619e-02,8.021838e-02,2.280645e-01,2.962281e+01,1.583923e-02,...,1.569776e+01,8.233637e-02,3.751619e-01,-2.336117e-01,1.058781e-01,-2.203691e-01,4.712888e-02,9.757184e-02,-3.956294e-01,7.768257e-02
std,1.344691e+06,3.267712e+00,4.993943e+00,3.494198e+01,3.715726e+01,2.123380e+00,1.613989e+00,1.015052e+00,3.033050e+00,2.445935e+00,...,3.441461e+01,1.386516e-01,7.422133e-01,9.296036e-01,1.759873e+00,2.121789e+00,1.564513e+00,1.479416e+00,1.767196e+00,1.255910e+00
min,0.000000e+00,0.000000e+00,0.000000e+00,-3.621860e+01,-7.146262e+02,-2.295800e+01,-9.252300e+00,-6.028500e+00,9.777800e+00,-1.519820e+01,...,-3.722400e+01,-3.184910e+00,-3.288110e+00,-6.856790e+00,-9.234889e+00,-9.494160e+00,-9.134765e+00,-9.234889e+00,-9.254405e+00,-8.789131e+00
25%,1.164536e+06,1.100000e+01,2.000000e+00,-2.549780e-01,-4.244322e+02,-1.182200e+00,-8.477000e-01,-3.028000e-01,2.761585e+01,-1.404600e+00,...,-2.129645e-01,-1.438100e-02,-3.506500e-02,-3.734250e-01,-9.530924e-01,-1.836966e+00,-9.642128e-01,-7.927602e-01,-1.607567e+00,-6.696343e-01
50%,2.329073e+06,1.300000e+01,5.000000e+00,2.281130e+00,-4.032927e+02,-1.000000e-04,6.320000e-02,1.219000e-01,2.925070e+01,2.400000e-03,...,2.327140e+00,5.072900e-02,1.594810e-01,-6.476600e-02,1.341212e-01,-2.979936e-01,4.972893e-03,4.660419e-02,-5.081915e-01,1.549763e-02
75%,3.493610e+06,1.600000e+01,8.000000e+00,7.390655e+00,-3.859742e+02,1.136900e+00,1.067400e+00,8.839000e-01,3.121620e+01,1.439100e+00,...,7.472885e+00,1.303520e-01,4.350445e-01,1.433210e-01,1.227746e+00,1.753418e+00,1.035102e+00,9.682240e-01,2.882334e-01,8.926133e-01
max,4.658146e+06,2.800000e+01,2.800000e+01,2.048800e+02,-4.052368e+01,2.187380e+01,1.300560e+01,6.880100e+00,4.794440e+01,1.583020e+01,...,2.055170e+02,2.296690e+00,8.201530e+00,1.701610e+00,9.382240e+00,9.714469e+00,7.637578e+00,8.420893e+00,8.653665e+00,7.460225e+00

In [22]:
df.isnull().sum()

id                          0
molecule_name               0
atom_index_0                0
atom_index_1                0
type                        0
scalar_coupling_constant    0
potential_energy            0
X                           0
Y                           0
Z                           0
XX_atom1                    0
YX_atom1                    0
ZX_atom1                    0
XY_atom1                    0
YY_atom1                    0
ZY_atom1                    0
XZ_atom1                    0
YZ_atom1                    0
ZZ_atom1                    0
XX                          0
YX                          0
ZX                          0
XY                          0
YY                          0
ZY                          0
XZ                          0
YZ                          0
ZZ                          0
mulliken_charge_atom1       0
mulliken_charge             0
type_scc                    0
fc                          0
sd                          0
pso                         0
dso                         0
atom_atom1_structure        0
x_atom1_structure           0
y_atom1_structure           0
z_atom1_structure           0
atom                        0
x                           0
y                           0
z                           0
dtype: int64

In [23]:
df.nunique().sum()

24178350

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
features= df.drop(['scalar_coupling_constant'], axis=1)
features

,id,molecule_name,atom_index_0,atom_index_1,type,potential_energy,X,Y,Z,XX_atom1,...,pso,dso,atom_atom1_structure,x_atom1_structure,y_atom1_structure,z_atom1_structure,atom,x,y,z
0,0,dsgdb9nsd_000001,1,0,1JHC,-40.52368,0.0000,0.0000,0.0000,31.3410,...,1.258620,0.272010,H,0.002150,-0.006031,0.001976,C,-0.012698,1.085804,0.008001
1,1,dsgdb9nsd_000001,1,2,2JHH,-40.52368,0.0000,0.0000,0.0000,31.3410,...,2.858390,-3.433600,H,0.002150,-0.006031,0.001976,H,1.011731,1.463751,0.000277
2,2,dsgdb9nsd_000001,1,3,2JHH,-40.52368,0.0000,0.0000,0.0000,31.3410,...,2.858520,-3.433870,H,0.002150,-0.006031,0.001976,H,-0.540815,1.447527,-0.876644
3,3,dsgdb9nsd_000001,1,4,2JHH,-40.52368,0.0000,0.0000,0.0000,31.3410,...,2.858550,-3.433930,H,0.002150,-0.006031,0.001976,H,-0.523814,1.437933,0.906397
4,4,dsgdb9nsd_000001,2,0,1JHC,-40.52368,0.0000,0.0000,0.0000,31.5814,...,1.258610,0.272013,H,1.011731,1.463751,0.000277,C,-0.012698,1.085804,0.008001
5,5,dsgdb9nsd_000001,2,3,2JHH,-40.52368,0.0000,0.0000,0.0000,31.5814,...,2.858560,-3.433950,H,1.011731,1.463751,0.000277,H,-0.540815,1.447527,-0.876644
6,6,dsgdb9nsd_000001,2,4,2JHH,-40.52368,0.0000,0.0000,0.0000,31.5814,...,2.858530,-3.433870,H,1.011731,1.463751,0.000277,H,-0.523814,1.437933,0.906397
7,7,dsgdb9nsd_000001,3,0,1JHC,-40.52368,0.0000,0.0000,0.0000,31.5172,...,1.258560,0.272012,H,-0.540815,1.447527,-0.876644,C,-0.012698,1.085804,0.008001
8,8,dsgdb9nsd_000001,3,4,2JHH,-40.52368,0.0000,0.0000,0.0000,31.5172,...,2.858560,-3.433930,H,-0.540815,1.447527,-0.876644,H,-0.523814,1.437933,0.906397
9,9,dsgdb9nsd_000001,4,0,1JHC,-40.52368,0.0000,0.0000,0.0000,31.4029,...,1.258560,0.272012,H,-0.523814,1.437933,0.906397,C,-0.012698,1.085804,0.008001
10,10,dsgdb9nsd_000002,1,0,1JHN,-56.56025,-0.0002,0.0000,1.6256,31.2593,...,1.949350,0.067923,H,0.017257,0.012545,-0.027377,N,-0.040426,1.024108,0.062564
11,11,dsgdb9nsd_000002,1,2,2JHH,-56.56025,-0.0002,0.0000,1.6256,31.2593,...,5.017830,-4.951410,H,0.017257,0.012545,-0.027377,H,0.915789,1.358745,-0.028758
12,12,dsgdb9nsd_000002,1,3,2JHH,-56.56025,-0.0002,0.0000,1.6256,31.2593,...,5.018890,-4.953350,H,0.017257,0.012545,-0.027377,H,-0.520278,1.343532,-0.775543
13,13,dsgdb9nsd_000002,2,0,1JHN,-56.56025,-0.0002,0.0000,1.6256,31.0341,...,1.949350,0.067922,H,0.915789,1.358745,-0.028758,N,-0.040426,1.024108,0.062564
14,14,dsgdb9nsd_000002,2,3,2JHH,-56.56025,-0.0002,0.0000,1.6256,31.0341,...,5.018900,-4.953350,H,0.915789,1.358745,-0.028758,H,-0.520278,1.343532,-0.775543
15,15,dsgdb9nsd_000002,3,0,1JHN,-56.56025,-0.0002,0.0000,1.6256,40.7507,...,1.949110,0.067931,H,-0.520278,1.343532,-0.775543,N,-0.040426,1.024108,0.062564
16,16,dsgdb9nsd_000003,1,2,2JHH,-76.42608,0.0000,0.0000,-1.8511,24.6745,...,8.201530,-6.856790,H,0.064766,0.020572,0.001535,H,0.871790,1.300792,0.000693
17,17,dsgdb9nsd_000005,2,0,1JHC,-93.42849,0.0000,0.0000,-2.8937,24.3125,...,-0.654267,0.500900,H,-0.027803,2.198949,0.014154,C,-0.013324,1.132466,0.008276
18,18,dsgdb9nsd_000005,2,1,2JHN,-93.42849,0.0000,0.0000,-2.8937,24.3125,...,2.341890,-0.437965,H,-0.027803,2.198949,0.014154,N,0.002311,-0.019159,0.001929
19,19,dsgdb9nsd_000007,2,0,1JHC,-79.83869,0.0000,0.0000,0.0000,31.7293,...,1.063800,0.506273,H,0.994873,1.939743,0.002941,C,-0.018704,1.525582,0.010433
20,20,dsgdb9nsd_000007,2,1,2JHC,-79.83869,0.0000,0.0000,0.0000,31.7293,...,0.317149,-0.348001,H,0.994873,1.939743,0.002941,C,0.002104,-0.003882,0.001999
21,21,dsgdb9nsd_000007,2,3,2JHH,-79.83869,0.0000,0.0000,0.0000,31.7293,...,2.485560,-2.830990,H,0.994873,1.939743,0.002941,H,-0.542076,1.923611,-0.865117
22,22,dsgdb9nsd_000007,2,4,2JHH,-79.83869,0.0000,0.0000,0.0000,31.7293,...,2.485680,-2.831220,H,0.994873,1.939743,0.002941,H,-0.525241,1.914173,0.900024
23,23,dsgdb9nsd_000007,2,5,3JHH,-79.83869,0.0000,0.0000,0.0000,31.7293,...,0.739016,-0.932534,H,0.994873,1.939743,0.002941,H,0.525487,-0.401908,0.877544
24,24,dsgdb9nsd_000007,2,6,3JHH,-79.83869,0.0000,0.0000,0.0000,31.7293,...,2.162610,-3.063530,H,0.994873,1.939743,0.002941,H,-1.011477,-0.418034,0.009508
25,25,dsgdb9nsd_000007,2,7,3JHH,-79.83869,0.0000,0.0000,0.0000,31.7293,...,0.739005,-0.932512,H,0.994873,1.939743,0.002941,H,0.508626,-0.392470,-0.887601
26,26,dsgdb9nsd_000007,3,0,1JHC,-79.83869,0.0000,0.0000,0.0000,31.7292,...,1.063840,0.506275,H,-0.542076,1.923611,-0.865117,C,-0.018704,1.525582,0.010433
27,27,dsgdb9nsd_000007,3,1,2JHC,-79.83869,0.0000,0.0000,0.0000,31.7292,...,0.317142,-0.347991,H,-0.542076,1.923611,-0.865117,C,0.002104,-0.003882,0.001999
28,28,dsgdb9nsd_000007,3,4,2JHH,-79.83869,0.0000,0.0000,0.0000,31.7292,...,2.485580,-2.831040,H,-0.542076,1.923611,-0.865117,H,-0.525241,1.914173,0.900024
29,29,dsgdb9nsd_000007,3,5,3JHH,-79.83869,0.0000,0.0000,0.0000,31.7292,...,2.162600,-3.063510,H,-0.542076,1.923611,-0.865117,H,0.525487,-0.401908,0.877544
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4658117,4658117,dsgdb9nsd_133884,14,6,2JHC,-364.87260,1.3623,1.4058,-0.0000,26.9291,...,-0.162308,0.094932,H,2.087537,1.391489,0.548687,C,-0.027076,0.747033,0.478506
4658118,4658118,dsgdb9nsd_133884,14,7,3JHC,-364.87260,1.3623,1.4058,-0.0000,26.9291,...,-0.103748,0.082675,H,2.087537,1.391489,0.548687,C,-0.131901,0.356983,-1.010196
4658119,4658119,dsgdb9nsd_133884,14,8,3JHC,-364.87260,1.3623,1.4058,-0.0000,26.9291,...,0.054236,-0.073561,H,2.087537,1.391489,0.548687,C,0.787756,-0.840138,-1.042152
4658120,4658120,dsgdb9nsd_133884,14,15,2JHH,-364.87260,1.3623,1.4058,-0.0000,26.9291,...,2.015060,-2.120860,H,2.087537,1.391489,0.548687,H,1.542918,0.547487,2.023550
4658121,4658121,dsgdb9nsd_133884,15,0,3JHC,-364.87260,1.3623,1.4058,-0.0000,26.9291,...,0.115804,-0.175118,H,1.542918,0.547487,2.023550,C,-1.435633,1.363255,0.310982
4658122,4658122,dsgdb9nsd_133884,15,2,3JHC,-364.87260,1.3623,1.4058,-0.0000,26.9291,...,-0.103747,0.082673,H,1.542918,0.547487,2.023550,C,-0.750850,-0.602182,0.665932
4658123,4658123,dsgdb9nsd_133884,15,3,3JHC,-364.87260,1.3623,1.4058,-0.0000,26.9291,...,0.054230,-0.073553,H,1.542918,0.547487,2.023550,C,0.326978,-1.554195,0.205661
4658124,4658124,dsgdb9nsd_133884,15,4,2JHC,-364.87260,1.3623,1.4058,-0.0000,26.9291,...,-0.057246,0.014798,H,1.542918,0.547487,2.023550,C,1.629865,-0.747236,0.235262
4658125,4658125,dsgdb9nsd_133884,15,5,1JHC,-364.87260,1.3623,1.4058,-0.0000,26.9291,...,0.630314,0.939998,H,1.542918,0.547487,2.023550,C,1.415947,0.620773,0.939122
4658126,4658126,dsgdb9nsd_133884,15,6,2JHC,-364.87260,1.3623,1.4058,-0.0000,26.9291,...,-0.162303,0.094926,H,1.542918,0.547487,2.023550,C,-0.027076,0.747033,0.478506
4658127,4658127,dsgdb9nsd_133884,15,7,3JHC,-364.87260,1.3623,1.4058,-0.0000,26.9291,...,0.227815,-0.407014,H,1.542918,0.547487,2.023550,C,-0.131901,0.356983,-1.010196
4658128,4658128,dsgdb9nsd_133884,15,8,3JHC,-364.87260,1.3623,1.4058,-0.0000,26.9291,...,0.304764,-0.429302,H,1.542918,0.547487,2.023550,C,0.787756,-0.840138,-1.042152
4658129,4658129,dsgdb9nsd_133884,16,0,3JHC,-364.87260,1.3623,1.4058,-0.0000,28.9460,...,-0.017907,0.073951,H,-0.084531,1.110807,-1.796741,C,-1.435633,1.363255,0.310982
4658130,4658130,dsgdb9nsd_133884,16,1,2JHN,-364.87260,1.3623,1.4058,-0.0000,28.9460,...,0.203386,-0.018397,H,-0.084531,1.110807,-1.796741,N,-1.571100,0.047932,-0.491726
4658131,4658131,dsgdb9nsd_133884,16,2,3JHC,-364.87260,1.3623,1.4058,-0.0000,28.9460,...,0.302867,-0.544545,H,-0.084531,1.110807,-1.796741,C,-0.750850,-0.602182,0.665932
4658132,4658132,dsgdb9nsd_133884,16,3,3JHC,-364.87260,1.3623,1.4058,-0.0000,28.9460,...,0.349909,-0.495334,H,-0.084531,1.110807,-1.796741,C,0.326978,-1.554195,0.205661
4658133,4658133,dsgdb9nsd_133884,16,4,3JHC,-364.87260,1.3623,1.4058,-0.0000,28.9460,...,0.201759,-0.278366,H,-0.084531,1.110807,-1.796741,C,1.629865,-0.747236,0.235262
4658134,4658134,dsgdb9nsd_133884,16,5,3JHC,-364.87260,1.3623,1.4058,-0.0000,28.9460,...,0.065262,-0.153096,H,-0.084531,1.110807,-1.796741,C,1.415947,0.620773,0.939122
4658135,4658135,dsgdb9nsd_133884,16,6,2JHC,-364.87260,1.3623,1.4058,-0.0000,28.9460,...,0.131503,-0.044294,H,-0.084531,1.110807,-1.796741,C,-0.027076,0.747033,0.478506
4658136,4658136,dsgdb9nsd_133884,16,7,1JHC,-364.87260,1.3623,1.4058,-0.0000,28.9460,...,-0.151399,1.276900,H,-0.084531,1.110807,-1.796741,C,-0.131901,0.356983,-1.010196
4658137,4658137,dsgdb9nsd_133884,16,8,2JHC,-364.87260,1.3623,1.4058,-0.0000,28.9460,...,-0.095455,-0.057927,H,-0.084531,1.110807,-1.796741,C,0.787756,-0.840138,-1.042152
4658138,4658138,dsgdb9nsd_133884,16,17,3JHH,-364.87260,1.3623,1.4058,-0.0000,28.9460,...,0.400232,-0.482868,H,-0.084531,1.110807,-1.796741,H,1.126550,-1.348733,-1.933838
4658139,4658139,dsgdb9nsd_133884,17,1,3JHN,-364.87260,1.3623,1.4058,-0.0000,30.1753,...,0.052203,-0.068140,H,1.126550,-1.348733,-1.933838,N,-1.571100,0.047932,-0.491726
4658140,4658140,dsgdb9nsd_133884,17,2,3JHC,-364.87260,1.3623,1.4058,-0.0000,30.1753,...,0.297320,-0.413566,H,1.126550,-1.348733,-1.933838,C,-0.750850,-0.602182,0.665932
4658141,4658141,dsgdb9nsd_133884,17,3,2JHC,-364.87260,1.3623,1.4058,-0.0000,30.1753,...,0.176618,-0.218606,H,1.126550,-1.348733,-1.933838,C,0.326978,-1.554195,0.205661
4658142,4658142,dsgdb9nsd_133884,17,4,2JHC,-364.87260,1.3623,1.4058,-0.0000,30.1753,...,0.150477,-0.213205,H,1.126550,-1.348733,-1.933838,C,1.629865,-0.747236,0.235262
4658143,4658143,dsgdb9nsd_133884,17,5,3JHC,-364.87260,1.3623,1.4058,-0.0000,30.1753,...,0.305078,-0.403388,H,1.126550,-1.348733,-1.933838,C,1.415947,0.620773,0.939122
4658144,4658144,dsgdb9nsd_133884,17,6,3JHC,-364.87260,1.3623,1.4058,-0.0000,30.1753,...,0.312240,-0.447920,H,1.126550,-1.348733,-1.933838,C,-0.027076,0.747033,0.478506
4658145,4658145,dsgdb9nsd_133884,17,7,2JHC,-364.87260,1.3623,1.4058,-0.0000,30.1753,...,-0.053102,-0.124710,H,1.126550,-1.348733,-1.933838,C,-0.131901,0.356983,-1.010196
4658146,4658146,dsgdb9nsd_133884,17,8,1JHC,-364.87260,1.3623,1.4058,-0.0000,30.1753,...,0.450213,1.130600,H,1.126550,-1.348733,-1.933838,C,0.787756,-0.840138,-1.042152

In [26]:
target= df[['scalar_coupling_constant']]
target

         scalar_coupling_constant
0                       84.807600
1                      -11.257000
2                      -11.254800
3                      -11.254300
4                       84.807400
5                      -11.254100
6                      -11.254800
7                       84.809300
8                      -11.254300
9                       84.809500
10                      32.688900
11                     -11.186600
12                     -11.175700
13                      32.689100
14                     -11.175800
15                      32.690500
16                      -9.946410
17                     171.220000
18                       5.182460
19                      83.542900
20                      -2.378310
21                     -11.700500
22                     -11.697900
23                       3.252810
24                      13.691300
25                       3.252050
26                      83.541700
27                      -2.378620
28                     -11.699600
29                      13.692400
...                           ...
4658117                 -1.148740
4658118                  0.445037
4658119                  0.660580
4658120                 -9.199110
4658121                  0.685640
4658122                  0.445065
4658123                  0.660647
4658124                  0.318358
4658125                 87.891100
4658126                 -1.148660
4658127                  6.131220
4658128                  5.124150
4658129                  4.922670
4658130                  3.719250
4658131                  8.935460
4658132                  3.545350
4658133                 -0.244777
4658134                 -0.184689
4658135                  1.025490
4658136                 99.657200
4658137                  9.119730
4658138                  0.789559
4658139                 -0.006537
4658140                  1.944380
4658141                  0.861412
4658142                  3.543450
4658143                  0.568997
4658144                  1.173370
4658145                  4.762010
4658146                117.934000

[4658147 rows x 1 columns]

In [27]:
feature_train, feature_test, target_train, target_test= train_test_split(features, target, test_size=0.2)

In [30]:
print('total feature training features: ', len(feature_train))
print('total feature testing features: ', len(feature_test))
print('total target training features: ', len(target_train))
print('total target testing features: ', len(target_test))

total feature training features:  3726517
total feature testing features:  931630
total target training features:  3726517
total target testing features:  931630